.slide-enter {
    transform: translateY(100%);
    opacity: 0;
}
.slide-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 300ms ease-in-out;
}
.slide-exit {
    transform: translateY(0);
    opacity: 1;
}
.slide-exit-active {
    transform: translateY(100%);
    opacity: 0;
    transition: all 300ms ease-in-out;
}
